.curio {
    padding: 5.6vw;

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        text-align: center;

        &__item {
            text-align: center;
            padding: 60px 0 44px;
            max-width: 380px;
            width: 100%;

            img {
                height: 83px;
            }

            strong {
                display: block;
            }
        }

        img {
            height: 220px;
            border-radius: 4px;
        }
    }
}