$corDeFundo: rgb(19, 31, 29);
$corTextoPrincipal: silver;
$corTextoSecundaria: #f9f9f9;
$corDeFundoBotaoPrimario: rgb(30, 49, 46);
$corDeFundoBotaoSecundario: rgb(46, 75, 70);
$corDeFundoBotaoDark: #000;